.body{
background-color: rgb(211, 218, 241);
min-width: 100%;
min-height: 100vh;
display: flex;
flex-direction:row;
position:relative;
top: -84px;
z-index:1;
overflow-x: auto;
scroll-margin-bottom: 0;
}

