
.nav-container {
  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;

}

/* Navbar style */
.navbar {
  background-color: #ffffff; 
  overflow: hidden;
  height: 10%;
  
 
  
}

/* Button style */
.button {
  background-color: rgb(228, 228, 228);
  border: none;
  color: rgb(14, 11, 11);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888888;
  margin: 10px 10px 10px 40px; /* Adjusted margin */
  float: left;

  position: relative;
  z-index: 10;
}

.dropDownMenu
{
  
  background-color: rgb(236, 238, 245);
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888888;
  width:20%;
  margin-left: 40px;
  overflow: hidden;
  color: #4e4d4d;
  position: relative;
  z-index: 10;
  
  

}




.dropDownMenu li{
  padding: 10px 10px 10px 10px;
  margin:5px;
  font-size: 15px;
}

.dropDownMenu select{
  float: right;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(245, 246, 248);
  padding: 5px 5px;
  /* box-shadow: 0px 0px 5px #888888; */
  border-radius: 10px;
  border-color: rgb(212, 210, 210) ;
  
}

@media only screen and (max-width: 600px) {
  .dropDownMenu {
    width: 80%;
    margin-left: 0;
    /* height:40%; */
  }

  .dropDownMenu li {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
  }

  .dropDownMenu select {
    float: none; 
    width: 100%; 
    margin-top: 10px;
  }

  #groupbby option{
    width: 100%; 
  }
}